.ReportScreen{
    text-align:left;
    color:white;
    margin: 10vh;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.ReportScreenHeader{
    grid-column: 1 / span 3;

    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 12px;
    font-size: 20px;
    font-family: AptosBold;
    width:100%;
}

.header-line{
    grid-column: 1 / span 3;
    height:3px;
    background-color: white;
    margin: 3px;
}

.items{
    grid-column: 1 / span 3;
}
