.ReportScreenItem{
    grid-column: 1 / span 3;

    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px;
    font-size: 20px;
    font-family: Aptos;
    width:100%;
}

