.ReportScreen{
    text-align:left;
    color:white;
    margin: 10vh;
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.header-line{
    grid-column: 1 / span 3;
    height:3px;
    background-color: white;
}

.items{
    grid-column: 1 / span 3;
}